<!DOCTYPE html>
<html ng-app="registrationApp">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="registration.js"></script>
  <title>Registration</title>
</head>
<body ng-controller="registrationCtrl">
  <div class="container">
    <h2>Registration Form</h2>

    <form name="registrationForm" novalidate>
      <div class="form-group" ng-class="{'has-error': registrationForm.username.$dirty && registrationForm.username.$invalid}">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="user.username" required>
        <span class="help-block" ng-show="registrationForm.username.$dirty && registrationForm.username.$error.required">Username is required.</span>
      </div>

      <div class="form-group" ng-class="{'has-error': registrationForm.password.$dirty && registrationForm.password.$invalid}">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required>
        <span class="help-block" ng-show="registrationForm.password.$dirty && registrationForm.password.$error.required">Password is required.</span>
      </div>

      <div class="form-group"
        ng-class="{'has-error': registrationForm.repeatPassword.$dirty && (registrationForm.repeatPassword.$error.required || registrationForm.repeatPassword.$error.match)}">
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" ng-model="user.repeatPassword"
          required ng-pattern="user.password">
        <span class="help-block" ng-show="registrationForm.repeatPassword.$dirty && registrationForm.repeatPassword.$error.required">Repeat Password is required.</span>
        <span class="help-block" ng-show="registrationForm.repeatPassword.$dirty && registrationForm.repeatPassword.$error.match">Passwords do not match.</span>
      </div>

      <div class="form-group" ng-class="{'has-error': registrationForm.email.$dirty && registrationForm.email.$invalid}">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required>
        <span class="help-block" ng-show="registrationForm.email.$dirty && registrationForm.email.$error.required">Email is required.</span>
        <span class="help-block" ng-show="registrationForm.email.$dirty && registrationForm.email.$error.email">Invalid email format.</span>
      </div>

      <button type="submit" class="btn btn-default" ng-disabled="registrationForm.$invalid" ng-click="submitForm()">Submit</button>
      <button type="button" class="btn btn-primary" ng-click="resetForm()">Cancel</button>
    </form>
  </div>
</body>
</html>