	h1{
		margin: -43%;
		display: inline;
		color: rgb(137, 230, 255);
		text-shadow:0 3px #5a5a5a;
	}
	body{
		background:url('VekpiA.webp');
	}


	form {
		box-shadow: 0 0 10px 2px hsl(211, 75%, 50%);
			border:  3px solid #13aff2;
			padding: 250px;
			width: 250px;
			margin: 0 auto;
			margin-top: 100px;			
			height: 400px;

	}
	input{
		background-color: #82d2f5;
		
	}
	button {
		background-color: #6bf0ff;
		color: rgb(109, 195, 252);
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	
	button[type=submit]{
		display: flexbox;
		width: fit-content;		
		margin: -20%;
		border-radius: 5px;
		color: #0f81ec;
	}
	button[type=cancel]{
		display: flexbox;
		width: fit-content;	
		margin: 86px;	
		border-radius: 5px;
		color:  rgb(117, 196, 248);
	
	}
	label{
	position: absolute;
	display: flexbox;
	margin: 30px -70px;
	color:  rgb(42, 148, 219);
	font-size: 16.5px;
	text-shadow: 0 2px 0 #592466;
	
	
	
	}	
	label[for="email"] {
		position: absolute;
		display: flexbox;
		margin: 30px -50px;
	}

	label[for="repeat password"] {
		position: absolute;
		display: flexbox;
		margin: 30px -120px;
		
		}	

	input[type=text], input[type=email], input[type=password], select {
			width: 100%;
			padding: 12px 20px;
			margin: 20px 0;
			display: inline-block;
			border: 1px solid #ffffff;
			box-sizing: border-box;
			
		}
		
	form div input{
		width: 100%;
		height: 40px;
		border-radius: 8px;
		outline: none;
		padding: 30px;
		box-shadow: 2px 2px 4px rgba(88, 87, 87, 0.1);
	
	}			


