/************TABS***********/
.tab-list{
    margin: 0;
    padding: 0;
}
.tab-list li{
    display: inline-block;
    list-style-type: none;
    background-color: #555555;
    border-bottom: 3px solid #6f8f14;
    font-family: 'Jacques Francois',serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.tab-list li a{
    color: #f4f5f1;
    display: block;
    padding: 3px 10px 3px 10px;
}

/******************HOVER STATES**************/
.tab-list li.active,.tab-list li.hover{
    background-color: #f4f5f1;
    border-bottom: 3px solid #f55f23;
}
.tab-list li.active a.tab-list li a:hover{
    color: #777;
    background-color: #f4f5f2;
}
/************PANELS*******************/
.tab-panel{
    display: none;
    background-color: #e4e7e5;
    color: #766;
    min-height: 150px;
    overflow: auto;
}

.tab-panel.active{
    display: block;
}
.tab-panel p{
    margin: 20px;
}